<h1 class="my-5">
    Nos Vehicules
</h1>


<div class="container">

    <h2>STRING INTERPOLATION</h2>

    <p class="font-weight-bold">Donnée de la Classe vers le Template</p>

    <p>Exemple 3  méthode en string interpolation </p>

    <!-- En string interpolation je peux appliquer des traitements depuis le Template -->

    <p>Il reste {{ getStock() -1 }} article(s) en stock</p>

    <!-- D'autres traitements sont possibles consuler la doc Angular -->
    <p>Promo de 20% ! <br> {{ prix * 0.8 }}  &euro; au lieu de {{ prix }} &euro;</p>

</div>