<h1 class="my-5">
    Nos Vehicules
</h1>


<div class="container">

    <h2>STRING INTERPOLATION</h2>

    <p class="font-weight-bold">Donnée de la Classe vers le Template</p>

    <p>Exemple 2 objet simple</p>

    <!-- Je ne peux pas afficher l'objet directement sans voir d'autres notions -->
    <p>{{ game }}</p>
    
    <!-- J'affiche les propriétés de mon objet  -->
    <div class="border border-info  col-3">
        <p>Titre: {{ game.title }}</p>
        <p>Plateforme: {{ game.support }}</p>
        <p>Multi: {{ game.multi }} joueur(s)</p>
    </div>
    

</div>