<div class="jumbotron my-5 text-center">
    <h1 class="display-3 text-danger">
        {{ title }}
    </h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
        featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="cars" role="button">eXotic Cars</a>
    </p>
</div>


<h2>Two Way Binding</h2>

<p class="font-weight-bold">Intéraction entre Template et la Classe en meme temps</p>


<!-- ici les données sont relié dynamiquement dans les deux sens
     Certains application web utilise ce procédé pour des formulaires dynamique -->
<input type="text" [(ngModel)]=username>
<!-- On utilise le string interpolation aussi -->
<h3>Nom: {{username}}</h3>